# .env.example
DATABASE_URL=postgresql://USER:PASSWORD@localhost:5432/hrms_db
JWT_SECRET_KEY=generate-with-python-secrets-module
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7
APP_ENV=development
CORS_ORIGINS=http://localhost:5173

access token:
eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI0NWRkMWU0YS1jMDA4LTRhZGMtYWEwNC1lOGU2N2ZjZjE1MTUiLCJyb2xlIjoiYWRtaW4iLCJleHAiOjE3NzU0NTY0NTksImlhdCI6MTc3NTQ1NTU1OX0.Jm5jwj9NJDQtXQQd3b9GjPqmMaJukC5_yvsK-C7nCm8

refresh token:
ifnmmZ8XHqmPpxxfZJpwqhdXMmoyFL0far51wgvu0IQjY7jh-HOBROW_ClWPvOB5AMLzcfniBcVvGPmzUT-TqQ